.text-animation {
  font-size: 2rem;
  text-align: center;
  line-height: 0.8;
  width: 80%;

  color: rgba(255, 255, 255, 0.842);
}

.subheading {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.648);
}

.text-animation span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  animation: wave 2s ease-in-out infinite;
}

#content5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
}

#top {
  line-height: 1.2;
  display: flex;
  justify-content: center;

  max-height: 128px;
}

#description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#description h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

#description h1 span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

#description h1:hover span {
  animation: wave 0.6s ease-in-out;
}

#description p {
  font-size: 14px;

  color: rgba(255, 255, 255, 0.724);
  text-align: justify;

  padding-left: 2rem;
  padding-top: 5px;
}

#top img {
  height: 128px;
}

hr {
  margin: 1rem 0;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.459);
}

#socials {
  display: flex;
  gap: 10px;
  padding-left: 1.5rem;
}

#socials a,
#phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;

  gap: 8px;

  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.151);

  padding: 5px 10px;
}

#socials a:hover {
  background-color: rgba(255, 255, 255, 0.397);
}

/* facebook */
#socials a:first-child {
  color: #0762f8;
}

/* instagram */
#socials a:nth-child(2) {
  color: #f74e68;
}

/* google */
#socials a:nth-child(3) {
  color: #e94335;
}

#buttons {
  display: flex;
  gap: 1rem;
}

#buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  color: white;

  font-size: 1rem;

  background-color: rgba(255, 255, 255, 0.151);
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.171);

  font-weight: 600;
}

#buttons a:hover {
  background-color: rgba(255, 255, 255, 0.397);
}

#buttons a:last-child {
  color: white;
  background-color: #78a5cc;
  border-color: #96bde0;
}

#buttons a:last-child:hover {
  background-color: #554f51;
  border-color: #756d70;
}

#skills .tool-tip {
  position: relative;
  display: inline-block;
}

#skills .tool-tip::after {
  content: attr(data-tooltip);
  visibility: hidden;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;

  text-align: center;
  padding: 6px;
  width: 150px;
  font-size: 12px;

  border-radius: 5px;
  background-color: rgba(31, 31, 31, 0.692);
  color: rgba(255, 255, 255, 0.724);
}

#skills .tool-tip:hover::after {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  main {
    rotate: 90deg;
    height: 360px;
  }

  #skills img {
    height: 42px;
  }
}
